In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
stat_data = pd.read_csv("sprint_speed.csv")

In [4]:
stat_data.head()

,last_name,first_name,player_id,team_id,team,position,age,competitive_runs,hp_to_1b,sprint_speed
0,Buxton,Byron,621439,142,MIN,CF,26,42,NaN,30.4
1,Galloway,Isaac,543194,146,MIA,CF,30,20,4.13,30.1
2,Gore,Terrance,605253,118,KC,LF,28,16,NaN,30.0
3,Mondesi,Adalberto,609275,118,KC,SS,24,61,NaN,30.0
4,Berti,Jon,542932,146,MIA,3B,29,28,NaN,30.0